# Topics in Analytics: a sqlite implementation #

In [1]:
import sqlite3 as db

In [2]:
conn = db.connect("analytics.db")

In [3]:
c = conn.cursor()

<h4>the Topic Table</h4>

In [4]:
c.execute("DROP TABLE IF EXISTS Topics")
c.execute( "CREATE TABLE Topics(id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT)")

function for inserting values from list

In [5]:
def insertTopic(L):
    for itm in L:
  #      print(itm)
       c.execute("INSERT INTO Topics(name) VALUES(?)",(itm,))

In [6]:
conn.commit()

In [7]:
Topics=['General','Linear Regression', 'Logistic Regression', 'Trees', 'Text Analytics',
  'Clustering', 'Visualization', 'Linear Optimization', 'Integer Optimization']

insertTopic(Topics)

<h5> quering the Topic table </h5>

In [8]:
c.execute('''SELECT * FROM Topics''')
print(c.fetchall())

[(1, 'General'), (2, 'Linear Regression'), (3, 'Logistic Regression'), (4, 'Trees'), (5, 'Text Analytics'), (6, 'Clustering'), (7, 'Visualization'), (8, 'Linear Optimization'), (9, 'Integer Optimization')]

<h4> the <b>cases < /b>  table </h4>

In [9]:
c.execute("CREATE TABLE cases(id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT, link TEXT DEFAULT'')")

In [10]:
c.execute("INSERT INTO cases(name) VALUES('Quality of Wine')")
c.execute("INSERT INTO cases(name) VALUES('Moneyball')")
c.execute("INSERT INTO cases(name) VALUES('USDA')")
c.execute("INSERT INTO cases(name) VALUES('Modeling an Expert')")
c.execute("INSERT INTO cases(name) VALUES('The Framingham Heart Study')")
c.execute("INSERT INTO cases(name) VALUES('Supreme Court Decisions')")
c.execute("INSERT INTO cases(name) VALUES('D2Hawkeye')")
c.execute("INSERT INTO cases(name) VALUES('Tweets')")
c.execute("INSERT INTO cases(name) VALUES('IBM Watson')")
c.execute("INSERT INTO cases(name) VALUES('Recommendation Systems')")
c.execute("INSERT INTO cases(name) VALUES('Predictive Diagnosis')")
c.execute("INSERT INTO cases(name) VALUES('Visualizing the World')")
c.execute("INSERT INTO cases(name) VALUES(' Analytical Policeman')")

In [11]:
c.execute('''SELECT * from cases''')
print(c.fetchall())

[(1, 'Quality of Wine', ''), (2, 'Moneyball', ''), (3, 'USDA', ''), (4, 'Modeling an Expert', ''), (5, 'The Framingham Heart Study', ''), (6, 'Supreme Court Decisions', ''), (7, 'D2Hawkeye', ''), (8, 'Tweets', ''), (9, 'IBM Watson', ''), (10, 'Recommendation Systems', ''), (11, 'Predictive Diagnosis', ''), (12, 'Visualizing the World', ''), (13, ' Analytical Policeman', '')]

#  <h4> the casesTopics table</h4>

In [12]:
c.execute("CREATE TABLE caseTopics( topicKey INTEGER, caseKey INTEGER)")

In [13]:
c.execute("INSERT INTO caseTopics (topicKey,caseKey) VALUES((SELECT id FROM Topics where name\
= 'Linear Regression'), 1)")
c.execute("INSERT INTO caseTopics (topicKey,caseKey) VALUES((SELECT id FROM Topics where name\
= 'Linear Regression'), 2)")

In [23]:
c.execute("INSERT INTO caseTopics (topicKey,caseKey) VALUES((SELECT id FROM Topics where name\
= 'General'), 3)")
c.execute("INSERT INTO caseTopics (topicKey,caseKey) VALUES((SELECT id FROM Topics where name\
= 'Logistic Regression'), 4)")
c.execute("INSERT INTO caseTopics (topicKey,caseKey) VALUES((SELECT id FROM Topics where name\
= 'Logistic Regression'), 5)")
c.execute("INSERT INTO caseTopics (topicKey,caseKey) VALUES((SELECT id FROM Topics where name\
= 'Trees'), 6)")
c.execute("INSERT INTO caseTopics (topicKey,caseKey) VALUES((SELECT id FROM Topics where name\
= 'Trees'), 7)")
c.execute("INSERT INTO caseTopics (topicKey,caseKey) VALUES((SELECT id FROM Topics where name\
= 'Text Analytics'), 8)")

In [24]:
c.execute("INSERT INTO caseTopics (topicKey,caseKey) VALUES((SELECT id FROM Topics where name\
= 'Text Analytics'), (SELECT id FROM cases WHERE name = 'IBM Watson'))")

In [16]:
c.execute("INSERT INTO caseTopics (topicKey,caseKey) VALUES((SELECT id FROM Topics where name\
= 'Clustering'), (SELECT id FROM cases WHERE name = 'Recommendation Systems'))")

In [17]:
c.execute("INSERT INTO caseTopics (topicKey,caseKey) VALUES((SELECT id FROM Topics where name\
= 'Visualization'), (SELECT id FROM cases WHERE name = 'Visualizing the World'))")
c.execute("INSERT INTO caseTopics (topicKey,caseKey) VALUES((SELECT id FROM Topics where name\
= 'Visualization'), (SELECT id FROM cases WHERE name = ' Analytical Policeman'))")
c.execute("INSERT INTO caseTopics (topicKey,caseKey) VALUES((SELECT id FROM Topics where name\
= 'Integer Optimization'), (SELECT id FROM cases WHERE name = 'Predictive Diagnosis'))")

<h4> other queries </h4>

In [18]:
c.execute("SELECT * FROM caseTopics")
print(c.fetchall())

[(2, 2), (3, 3), (3, 4), (4, 5), (4, 6), (5, 7), (5, 8), (6, 9), (6, 10), (7, 12), (7, 13), (9, 11)]

In [25]:
c.execute('''SELECT cases.name FROM cases join caseTopics on cases.id = caseKey ''')
print(c.fetchall())

[('Moneyball',), ('USDA',), ('Modeling an Expert',), ('The Framingham Heart Study',), ('Supreme Court Decisions',), ('D2Hawkeye',), ('Tweets',), ('IBM Watson',), ('Recommendation Systems',), ('Visualizing the World',), (' Analytical Policeman',), ('Predictive Diagnosis',), ('USDA',), ('Modeling an Expert',), ('The Framingham Heart Study',), ('Supreme Court Decisions',), ('D2Hawkeye',), ('Tweets',), ('IBM Watson',)]

In [20]:
c.execute('''SELECT cases.name FROM cases join caseTopics on cases.id = caseKey WHERE \
topicKey = 4''')
print(c.fetchall())

[('The Framingham Heart Study',), ('Supreme Court Decisions',)]

In [21]:
c.execute('''SELECT cases.name FROM cases join caseTopics on cases.id = caseKey WHERE \
topicKey = (SELECT id FROM Topics WHERE name = "Trees")''')
print(c.fetchall())

[('The Framingham Heart Study',), ('Supreme Court Decisions',)]

In [26]:
c.execute('''SELECT cases.name, Topics.name FROM \
cases JOIN caseTopics ON cases.id = caseKey \
JOIN Topics on Topics.id = topicKey''')

print(c.fetchall())

[('Moneyball', 'Linear Regression'), ('USDA', 'Logistic Regression'), ('Modeling an Expert', 'Logistic Regression'), ('The Framingham Heart Study', 'Trees'), ('Supreme Court Decisions', 'Trees'), ('D2Hawkeye', 'Text Analytics'), ('Tweets', 'Text Analytics'), ('IBM Watson', 'Clustering'), ('Recommendation Systems', 'Clustering'), ('Visualizing the World', 'Visualization'), (' Analytical Policeman', 'Visualization'), ('Predictive Diagnosis', 'Integer Optimization'), ('USDA', 'General'), ('Modeling an Expert', 'Logistic Regression'), ('The Framingham Heart Study', 'Logistic Regression'), ('Supreme Court Decisions', 'Trees'), ('D2Hawkeye', 'Text Analytics'), ('Tweets', 'Text Analytics'), ('IBM Watson', 'Text Analytics')]