<H1>sets, mapping, relations, objects..... </h1>

In [17]:
# by set comprehension 
set1={ n for n in range (100) if n%2 ==1}

import numpy as np
np.random.choice(list(set1),8, replace=False)

array([33, 63, 47, 49, 65, 13, 61, 37])

  `in` is member of  <br>
  `not in` is not member of<br>
  `<=` subset<br>
  `<` proper subset<br>
  `|` union<br>
  `&` intersection<br>
  `-` difference

In [19]:
print('an empty set')
emp=set()
emp

an empty set

set()

In [20]:
print("mutability")
setA={2,5}
print(setA)
setA.add(10)
setA

mutability
{2, 5}

{2, 5, 10}

In [32]:
print("iteration without order")
Invisible={'Spinetta', 'Machi', 'Pomo'}
for num , member in  enumerate(Invisible):
    print("{:})  {:}".format(num+1,member))

iteration without order
1)  Pomo
2)  Spinetta
3)  Machi

In [33]:
def setOfValues(filename):
    file = open(filename)
    return [ line.strip() for line in file]

In [35]:
grades = setOfValues('testgrade.txt')

In [36]:
grades

['moro 95', 'charly 80', 'david 81', 'pedro79', 'pomo 90', 'flaco 51']

In [37]:
def setOfTuples (fileName):
    file= open(fileName)
    return  [ tuple(line.strip().split(" ")) for line in file]

In [40]:
gradesList = setOfTuples('testgrade.txt')
gradesList

[('moro', '95'),
 ('charly', '80'),
 ('david', '81'),
 ('pedro', '79'),
 ('pomo', '90'),
 ('flaco', '51')]

In [44]:
gradesList[0][1]

'95'